<ul class="sidebar-menu">
    <li class="menu-header">اصلی</li>
    <li id="action_dashboard"><a class="nav-link" href="/Dashboard/Index"><i data-feather="monitor"></i><span>داشبورد</span></a></li>
    <li id="action_follower"><a class="nav-link" href="/FollowerIncreasement/Index"><i data-feather="trending-up"></i><span>افزایش Follower</span></a></li>
    <li id="action_like"><a class="nav-link" href="/LikeIncreasement/Index"><i data-feather="heart"></i><span>افزایش Like</span></a></li>
    <li id="action_comment"><a class="nav-link" href="/CommentIncreasement/Index"><i data-feather="message-circle"></i><span>افزایش Comment</span></a></li>
    <li id="action_view"><a class="nav-link" href="/ViewIncreasement/Index"><i data-feather="eye"></i><span>افزایش View</span></a></li>
    <li id="action_explore"><a class="nav-link" href="/Explore/Index"><i data-feather="search"></i><span>Explore</span></a></li>

    <li id="action_message" class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="send"></i><span>ارسال پیام</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="/PostManagement/Index">ارسال پست</a></li>
            <li><a class="nav-link" href="/ContentManagement/Index">ارسال محتوا</a></li>
        </ul>
    </li>

    <li id="action_report" class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="bar-chart"></i><span>گزارشات</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="/FollowerIncreasementReport/Index">افزایش Follower</a></li>
            <li><a class="nav-link" href="/ViewIncreasementReport/Index">افزایش View</a></li>
            <li><a class="nav-link" href="/LikeIncreasementReport/Index">افزایش Like</a></li>
            <li><a class="nav-link" href="/CommentIncreasementReport/Index">افزایش Comment</a></li>
        </ul>
    </li>

    <li class="menu-header">تنظیمات</li>
    <li><a class="nav-link" href="/Account/Index?isDefault=False"><i data-feather="settings"></i><span>مدیریت حساب ها</span></a></li>
    <li id="action_profile"><a class="nav-link" href="/Dashboard/UserProfile"><i data-feather="user"></i><span>پروفایل</span></a></li>
    <li><a class="nav-link" href="/Home/SignOut"><i data-feather="log-out"></i><span>خروج</span></a></li>

    <li class="menu-header">مدیریت</li>
    <li id="action_users"><a class="nav-link" href="/UserManagement/Index"><i data-feather="users"></i><span>مدیریت کاربران</span></a></li>
    <li id="action_userRoles"><a class="nav-link" href="/UserRoleManagement/Index"><i data-feather="user-x"></i><span>مدیریت نقش های کاربر</span></a></li>
    <li id="action_accounts"><a class="nav-link" href="/AccountManagement/Index"><i data-feather="settings"></i><span>مدیریت حساب ها</span></a></li>
    <li id="action_followers"><a class="nav-link" href="/FollowerLogManagement/Index"><i data-feather="user-plus"></i><span>گزارشات افزایش Follower</span></a></li>
    <li id="action_likes"><a class="nav-link" href="/LikeLogManagement/Index"><i data-feather="heart"></i><span>گزارشات افزایش Like</span></a></li>
    <li id="action_comments"><a class="nav-link" href="/CommentLogManagement/Index"><i data-feather="message-circle"></i><span>گزارشات افزایش Comment</span></a></li>
    <li id="action_views"><a class="nav-link" href="/ViewLogManagement/Index"><i data-feather="eye"></i><span>گزارشات افزایش View</span></a></li>

</ul>

