@model ArkaApp.Models.EntityModels.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="container" style="direction:rtl;text-align:right;color:#000000;">
        <div class="row" style="background-color:#F3F2F2;padding: 12px 20px;">
            <p style="font-size:18px;font-weight:bolder;">@Model.FullName عزیز</p>
            <p style="font-size:16px;">برای تغییر رمز عبور خود روی لینک زیر کلیک نمایید.</p>
            <p style="font-size:14px;">توجه: این لینک فقط 24 ساعت اعتبار دارد.</p>
            <p style="text-align:center;padding-top:15px;">
                <a style="background: #ed1c24;font-size: 14px;text-transform: uppercase;
                      display: inline-block;text-align: center;color: #fff;padding: 12px 20px;
                      font-weight: bold;text-decoration: none;"
                   href="@Request.Url.GetLeftPart(UriPartial.Authority)/Home/ChangePassword?token=@Model.AuthToken">تغییر رمز عبور</a>
            </p>
            <p style="font-size:14px;padding-top:20px;">
                با آرزوی موفقیت
                <br />
                محاسبات نرم فناوری اطلاعات و ارتباطات آرکا
            </p>

        </div>
    </div>
</body>
</html>